<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.zex.cloud.example.mapper.FoProtocolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.zex.cloud.example.entity.FoProtocol">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="amount" property="amount" />
        <result column="freight_amount" property="freightAmount" />
        <result column="pay_days" property="payDays" />
        <result column="load_at" property="loadAt" />
        <result column="unload_at" property="unloadAt" />
        <result column="load_province_code" property="loadProvinceCode" />
        <result column="load_city_code" property="loadCityCode" />
        <result column="load_district_code" property="loadDistrictCode" />
        <result column="unload_province_code" property="unloadProvinceCode" />
        <result column="unload_city_code" property="unloadCityCode" />
        <result column="unload_district_code" property="unloadDistrictCode" />
        <result column="load_address" property="loadAddress" />
        <result column="unload_address" property="unloadAddress" />
        <result column="category_name" property="categoryName" />
        <result column="car_type" property="carType" />
        <result column="car_longs" property="carLongs" />
        <result column="car_models" property="carModels" />
        <result column="weight" property="weight" />
        <result column="volume" property="volume" />
        <result column="plate_number" property="plateNumber" />
        <result column="driver_agree" property="driverAgree" />
        <result column="user_agree" property="userAgree" />
        <result column="create_at" property="createAt" />
    </resultMap>

</mapper>
