<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.zex.cloud.example.mapper.SyDeptRoleRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.zex.cloud.example.entity.SyDeptRoleRel">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>
    <select id="getIdsByDeptId" resultType="java.lang.Long">
        select role_id
        from sy_dept_role_rel
        where dept_id = #{deptId}
    </select>

</mapper>
