<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.zex.cloud.example.mapper.SyUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.zex.cloud.example.entity.SyUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="nickname" property="nickname"/>
        <result column="real_name" property="realName"/>
        <result column="avatar" property="avatar"/>
        <result column="work_no" property="workNo"/>
        <result column="gender" property="gender"/>
        <result column="birth_day" property="birthDay"/>
        <result column="create_at" property="createAt"/>
        <result column="login_at" property="loginAt"/>
        <result column="login_ip" property="loginIp"/>
        <result column="expire_at" property="expireAt"/>
        <result column="enable" property="enable"/>
        <result column="locked" property="locked"/>
    </resultMap>
    <select id="list" resultType="wiki.zex.cloud.example.entity.SyUser">
        select su.id,
        su.username,
        su.password,
        su.mobile,
        su.email,
        su.nickname,
        su.real_name,
        su.avatar,
        su.work_no,
        su.gender,
        su.birth_day,
        su.enable,
        su.locked,
        su.login_at,
        su.login_ip,
        su.expire_at,
        su.create_at
        from sy_user su
        left join sy_user_dept_rel sudr on sudr.user_id = su.id
        left join  sy_user_role_rel surr on surr.user_id = su.id
        <where>
            1=1
            <if test="username != null">
                and su.username like CONCAT('%',#{username},'%')
            </if>
            <if test="mobile != null">
                and su.mobile like CONCAT('%',#{mobile},'%')
            </if>
            <if test="workNo != null">
                and su.work_no like CONCAT('%',#{workNo},'%')
            </if>
            <if test="realName != null">
                and su.real_name = realName
            </if>
            <if test="enable != null">
                and su.enable = #{enable}
            </if>
            <if test="locked != null">
                and su.locked = #{locked}
            </if>
            <if test="deptId != null">
                and sudr.dept_id = #{deptId}
            </if>
        </where>
        group by su.id
    </select>

</mapper>
